:root {
    --text: hsl(220, 21%, 95%);
    --background: hsl(214, 20%, 7%);
    --primary: hsl(221, 21%, 71%);
    --secondary: hsl(303, 22%, 32%);
    --accent: hsl(333, 22%, 53%);
    --text2: hsla(0, 0%, 4%, 0.943);
    --shadowColoro: rgba(0, 0, 0, 0.5);
    --homeMainButton: hsl(303, 71%, 44%);
}

/* Body Modification */
body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "aside aside aside"
        "footer footer footer"
    ;
    background-color: var(--background);
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: none;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    box-sizing: content-box;
}

/* Form related modification */
form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 50%;
    background-color: #020524;
    height: 30em;
    padding-left: 1em;
    padding-top: 1.5em;
    padding-right: 1em;
    margin-left: 30%;
    margin-top: 2em;
}


.submitForm {
    display: flex;
    grid-column: 1/3;
    justify-content: space-around;
    margin-bottom: 2em;
}

#comment {
    width: 15em;
    /* margin-left: 2em; */
    height: 5em;
    margin-right: 2em;
}

.placeholderForm {
    margin-left: 0em;
    margin-right: 2em;
    height: 2em;
}

.contactMain form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.submitAndReset {
    width: 5em;
    height: 2em;
}

#country {
    margin-left: 0em;
    margin-right: 2em;
    height: 2em;
}

/* Submenu Start */
nav>ul>li {
    position: relative;
    width: 100%
}

/* This will appear with hover by block */
/* nav ul ul {
    position: absolute;
    display: none;
    background-color: var(--primary);
    width: 100%;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

nav>ul>li:hover ul {
    display: block;
} */

nav ul ul li:hover {
    background-color: var(--secondary);
}

/* This is another method using transition opacity */
/* nav>ul>li:hover ul {
    opacity: 1;
    pointer-events: auto;
    Sub menus can be interacted with
} */

/* nav ul ul {
    position: absolute;
    display: block;
    background-color: var(--primary);
    width: 40%;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
    Sub menus cannot be interacted with
} */


nav ul ul {
    position: absolute;
    display: block;
    background-color: var(--primary);
    padding: 0;
    width: 100%;
    transform: translate(0, -120%);
    z-index: -1;
    transition: transform 0.5s ease-in;
}

nav>ul>li:hover ul {
    transform: translate(0, 0);
    z-index: 1;
    display: block;
}

main {
    margin-left: 2em;
}

header {
    margin-left: 2em;
}

nav {
    margin-left: 2em;
}

.homeMain div {
    margin-left: 25%;
    margin-top: 3.1em;
}

.headerContainer {
    justify-content: center;
    margin-left: 35%;
}


/* Site Report Imagegs  */
.codeValidation {
    display: inline-block;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.17) 
    0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 
    0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 
    0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 
    0px 2px 1px, rgba(0, 0, 0, 0.09) 
    0px 4px 2px, rgba(0, 0, 0, 0.09) 
    0px 8px 4px, rgba(0, 0, 0, 0.09) 
    0px 16px 8px, rgba(0, 0, 0, 0.09)
     0px 32px 16px;
     margin: 2em;
     width: 12.5em;
}

.codeValidation .imageTexts {
    color: var(--text);
    text-align: center;
    padding: 0.625em;
}

.codeValidation img{
    width: 100%;
    height: auto;
}

.myVideoDemo {
    width: 640px;
    height: 420px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/* Map styling  */
.waterside {
    width: 640px;
    height: 420px;
    margin-bottom: 1.5em;
}