
:root{
    --text: hsl(220, 21%, 95%);
    --background: hsl(214, 20%, 7%);
    --primary: hsl(221, 21%, 71%);
    --secondary: hsl(303, 22%, 32%);
    --accent: hsl(333, 22%, 53%);
    --text2: hsla(0, 0%, 4%, 0.943);
    --shadowColoro: rgba(0, 0, 0, 0.5);
    --homeMainButton: hsl(303, 71%, 44%);
    }
@media only screen and (max-width: 800px){

 /* Body Modification */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "aside"
    "footer"
    ;
    background-color: var(--background);
        
}
}