:root {
    --text: hsl(220, 21%, 95%);
    --background: hsl(214, 20%, 7%);
    --primary: hsl(221, 21%, 71%);
    --secondary: hsl(303, 22%, 32%);
    --accent: hsl(333, 22%, 53%);
    --text2: hsla(0, 0%, 4%, 0.943);
    --shadowColoro: rgba(0, 0, 0, 0.5);
    --homeMainButton: hsl(303, 71%, 44%);
}

/* Body Modification */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer"
    ;
    background-color: var(--background);

}

/*Navigation bar modification*/
nav {
    grid-area: nav;
    display: block;
    background-color: var(--homeMainButton);
    position: fixed;
    top: 0;
    width: 100%;
    height: auto; 
    left: 50%;
    width: 50%;
    height: 20vh;
}

nav ul {
    list-style: none;
    /* background-color: hsl(333, 22%, 53%); */
    margin: 0em;
    padding: 0em;
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
    /* border-radius: 10px; */
}

/* nav a {
    color: var(--text);
    text-decoration: none;
    padding: 0px;
    display: block;
    text-align: center;
} */

nav a:hover {
    background-color: var(--primary);
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* Hambuger */
/* Hambuger */
.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid var(--text);
    border-bottom: 0.2em solid var(--text);
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid var(--text);
}