/*
--text: hsl(220, 21%, 95%);
--background: hsl(214, 20%, 7%);
--primary: hsl(221, 21%, 71%);
--secondary: hsl(303, 22%, 32%);
--accent: hsl(333, 22%, 53%);
*/
/* Root color build up */
:root {
    --text: hsl(220, 21%, 95%);
    --background: hsl(214, 20%, 7%);
    --primary: hsl(221, 21%, 71%);
    --secondary: hsl(303, 22%, 32%);
    --accent: hsl(333, 22%, 53%);
    --text2: hsla(0, 0%, 4%, 0.943);
    --shadowColoro: rgba(0, 0, 0, 0.5);
    --homeMainButton: hsl(303, 71%, 44%);
}

/* Universal selector */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

/* Body Modification */
body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "aside aside aside"
        "footer footer footer"
    ;
    background-color: var(--background);
}

/*Navigation bar modification*/
nav {
    grid-area: nav;
}

nav ul {
    list-style: none;
    margin: 0em;
    padding: 0em;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: var(--text);
    text-decoration: none;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: var(--primary);
}

nav li {
    float: left;
}

/*Header Modification*/
header {
    padding: 1em;
    margin: 0;
    grid-area: header;
}


.headP {
    color: var(--text);
    text-transform: capitalize;
    font-size: 1em;
}

header img {
    /* float: left; */
    width: 5em;
    height: 5em;
    border-radius: 50%;
    box-shadow: 0 0 0.3em var(--shadowColoro);
    object-fit: cover;
    margin-right: 1.5em;
    margin-left: 5em;
    margin-top: 1.5em;
}

/* Contact page header */
.contactHeader {
    color: var(--accent);
}

.contactHeader div p {
    font-size: 2em;
    /* margin-left: 40px; */
}

.contactHeader div i {
    float: left;
    padding-right: 0.5em;
}

/* Hambuger
.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid var(--text);
    border-bottom: 0.2em solid var(--text);
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid var(--text);
} */

/* Main Modification */
main {
    grid-area: main;
}

/* Home Main modification 
--primary: hsl(221, 21%, 71%);
--secondary: hsl(303, 22%, 32%);
--accent: hsl(333, 22%, 53%)
*/
.homeMain div {
    background-color: var(--text);
    padding: 1.25em;
    box-shadow: inset 0 0 2.5em hsl(240, 1%, 50%);
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* width: 50%; */
    margin-top: 3.1em;
    margin-bottom: 3.1em;
}

.homeMain p {
    color: var(--text2);
    text-align: justify;
    line-height: 1.5;
    line-break: auto;
}

.homeMain ul {
    list-style: none;
    justify-content: space-between;
}

.homeMain ul li a {
    text-decoration: none;
}

.homeMain ul li:hover {
    background-color: hsl(333, 22%, 53%);
}

.homeMain ul li {
    border: 0.125em solid;
    width: 6.25em;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.5em;
    display: inline-block;
    margin-right: 1.9em;
    margin-top: 1em;
    color: var(--primary);
}

/* Form Main Modification */
.required {
    color: red;
}

label {
    color: var(--text);
}

/* Form Modi */

.subprojectMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1.25em;
    margin-top: 3.2em;
    margin-bottom: 3.2em;
}

.subprojectMain div {
    padding: 0.8em;
    border: 0em solid var(--text2);
    background-color: var(--text);
    padding: 1.25em;
    box-shadow: inset 0 0 1.25em hsl(240, 1%, 50%);
    text-align: justify;
}

.projectMain {
    width: auto;
}

.subprojectMain {
    width: auto;
}

.subprojectMain div::first-letter {
    font-size: 2em;
    font-style: italic;
}

.subprojectMain div p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

.subprojectMain div h2 {
    color: var(--secondary);
}

.subprojectMain div h3 {
    font-weight: bold;
}

.subprojectMain div h2 a {
    text-decoration: none;
}

/* video Demo Page Main Modification */
.videoDemoMain {
    margin: 0px;
    padding: 0px;
}

.myVideoDemo {
    /* position: relative; */
    display: block;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.waterside {
    display: block;
    width: 400px;
    height: 400px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

/* Aside modification */
aside {
    background-color: var(--primary);
    grid-area: aside;
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: center;
    height: 3em;
    padding-top: 0.5em;
}

.asideIcons a{
    margin: 0 1em;
}

.fa-brands.fa-facebook.fa-2x {
    color: hsl(213.85, 89.34%, 52.16%);
}

/*Example of pseudo-class selector*/
.fa-brands.fa-facebook.fa-2x:hover {
    color: hsl(213, 91%, 13%);
}

.fa-brands.fa-discord.fa-2x {
    color: #5865F2;
}

.fa-brands.fa-discord.fa-2x:hover {
    color: #0b1042;
}

.fa-brands.fa-linkedin.fa-2x {
    color: hsl(210.00, 90.20%, 40.00%);
}

.fa-brands.fa-linkedin.fa-2x:hover {
    color: hsl(210, 93%, 21%);
}

.fa-brands.fa-github.fa-2x {
    color: hsl(210, 12%, 19%);
}

.fa-brands.fa-github.fa-2x:hover {
    color: hsl(210, 16%, 10%);
}

.fa-brands.fa-youtube.fa-2x {
    color: hsl(0, 100%, 50%);
}

.fa-brands.fa-youtube.fa-2x:hover {
    color: hsl(0, 93%, 40%);
}

.fa-regular.fa-envelope.fa-2x {
    color: hsl(5, 64%, 53%);
}

.fa-regular.fa-envelope.fa-2x:hover {
    color: hsl(5, 81%, 17%);
}

/*Eddited footer using display, justfy-content, pseudo-class selector, and more*/
footer {
    grid-area: footer;
    display: block;
    clear: both;
    height: 2em;
}

footer p {
    color: var(--text);
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    padding: 0.8em;
}

.copyright {
    background-color: var(--primary);
    width: 100%;
    height: 3.75em;
}